.login_width {
	width: 400px;
}

.helpFont {
	font-size: 14px;
	padding:2px;
	padding-left: 7px;
	padding-right: 7px;	
	background-color: lightgray;
}

#searchResults {
	text-align: center;
}

.img-result {
	padding: 7x;
	padding-bottom: 3px;
	text-align: center;
	display: block;
    margin-left: auto;
    margin-right: auto
}

.resultContainer {
	padding-top: 15px;
	padding-bottom: 15px;
}

.embed-input {
	text-aling: center;
}
.fbShare {
	//padding-top: 5px;
}